*, html, body{
	margin:0;
	padding:0;
}

body{
	width:150vw;
	height:100vh;
	cursor:none;
	display:flex;
	justify-content:center;
	align-items:center;
}

p{
	font-family: adobe-jenson-pro-display, serif;
	/* font-family:serif; */
	font-weight: 300;
	font-style: italic;
	font-size:40px;
	color:black;
}

#status-wrapper{
	position:absolute;
	/* top:700px;
	left:1250px; */
	width:150vw;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:100;
}

#status{
	color: white;
	text-shadow: 2px 2px 8px #000000;
}

#fixed{
	width:100vw;
	height:100vh;
	position:fixed;
	z-index:100;
}

#user_count{
	position:absolute;
	right:0;
	bottom:0;
	font-size:18px;
	opacity:0;
	padding:1vw;
}
